body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f3f4f6;
}

.calculator{
    background-color: #a9a9a9;
    border: 1px black solid;
    border-radius: 5%;
    box-shadow: 2px 1px;
    padding-top: 1rem;
    margin-top: 10rem;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    background-color:  #c1baba;
    border: 1px black solid;
    margin-bottom: 1rem;
    padding: 5px;
    width: 85%;
    height: 5rem;
    text-align: right;
    font-size: 32px;
}

.edit-container{
    padding: 5px;
    margin: 1px;    
}

.edit {
    padding: 5px;
    margin: 5px;
    width: 42%;
    height: 5rem;
    text-align: center;
    font-size: 32px;
}

.numpad {
    padding: 5px;
    margin: 1px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    display: flexbox;
    text-align: center;
    font-size: 32px;
}

