body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f3f4f6;
}

.calculator{
    border: 1px red solid;
    padding-top: 1rem;
    margin-top: 10rem;
    width: 30rem;
    height: 40rem;
}

.results {
    margin-bottom: 1rem;
    width: 85%;
    height: 5rem;
    text-align: right;
    font-size: 32px;
}

.edit-container{
    padding: 5px;
    margin: 1px;    
}

.edit {
    padding: 5px;
    margin: 5px;
    width: 43%;
    height: 5rem;
    text-align: center;
    font-size: 32px;
}

.numpad {
    padding: 5px;
    margin: 1px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    display: flexbox;
    text-align: center;
    font-size: 32px;
}